
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>admit Card</title>
    <style>
        .txt-center {
            text-align: center;
        }

        .border- {
            border: 1px solid #000 !important;
        }

        .padding {
            padding: 15px;
        }

        .mar-bot {
            margin-bottom: 15px;
        }

        .admit-card {
            border: 2px solid #000;
            padding: 15px;
            margin: 20px 0;
        }

        .BoxA h5, .BoxA p {
            margin: 0;
        }

        h5 {
            text-transform: uppercase;
        }

        table img {
            width: 100%;
            margin: 0 auto;
        }

        .table-bordered td, .table-bordered th, .table thead th {
            border: 1px solid #000000 !important;
        }
        .print-btn{
            margin-left:50%;
            margin-bottom:5px;
            border:2px solid black;
            width:4rem;
            color:black;
            font-weight:bolder;
            border-radius:5px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    </style>


</head>
<body>

    <section>
        <div class="print-btn">
            <a href="/Admitcard" download>Print</a>
        </div>

        <div class="container">
            <div class="admit-card">
                <div class="BoxA border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5>SCHOOL CARE</h5>
                            <p>BAILEY ROAD NEAR HIGH COURT <br> PATNA, INDIA</p>
                        </div>
                        <div class="col-sm-4 txt-center">
                            @*<img id="logo" src="~/Content/assets/C_Image/school-care-white.png" download="" width="100px;" />*@
                        </div>
                        <div class="col-sm-4">
                            <h5>Admit Card</h5>
                            <p>EXAMINATION -ADMIT CARD</p>
                        </div>
                    </div>
                </div>
                <div class="BoxC border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Enrollment No : 9910101</h5>
                        </div>
                    </div>
                </div>
                <div class="BoxD border- padding mar-bot">
                    <div class="row">
                        <div class="col-sm-10">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td><b>ENROLLMENT NO : 9910101</b></td>
                                        <td><b>Class: </b> @ViewBag.class1</td>
                                    </tr>
                                    <tr>
                                        <td><b>Student Name: </b>@ViewBag.name</td>
                                        <td><b>Gender: </b>@ViewBag.gender</td>
                                    </tr>
                                    <tr>
                                        <td><b>Session: </b>@ViewBag.session</td>
                                        <td><b>DOB: </b>@ViewBag.dob</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="    height: 125px;"><b>Address: </b> @ViewBag.address</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-2 txt-center">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th >@*<img src="~/Content/userImage/@ViewBag.img" width="123px" height="165px" />*@
                                        <h6> Please paste<br /> passport size <br />photo graph</h6></th>
                                    </tr>
                                    <tr>
                                        <th ><h6>Please sign here</h6></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="BoxE border- padding mar-bot txt-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>EXAMINATION VENUE</h5>
                            <p>IOC ROAD SIPARA PATNA 800002 <br> PATNA, INDIA</p>
                        </div>
                    </div>
                </div>
                <div class="BoxF border- padding mar-bot txt-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Subject/Paper</th>
                                        <th>Exam Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>English</td>
                                        <td>5 July 2019</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>English</td>
                                        <td>5 July 2019</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>English</td>
                                        <td>5 July 2019</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class="txt-center">
                    <p>*** SCHOOL CARE ***</p>
                </footer>

            </div>
        </div>

    </section>

</body>
</html>